{% extends "layout.html" %}

{% block main %}
<div class="table-books">
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td> <a href="{{ url_for('book', book_isbn = book.isbn) }}">{{ book.title.capitalize() }}</a></td>
                    <td>{{ book.isbn}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
