<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bookaloo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8f4bb5d891.js" crossorigin="anonymous"></script>

        
    </head>
    <body >
        <header>
            <nav class="row">
                <h1><a href="/">Bookaloo</a></h1>
                <ul>
                    {% if session.user_id%}
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="">Search</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main class="main">
            
            {% block main %}
            {% endblock %}
        </main>
        
        
    </body>
</html>
